.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
.source
app/generated/
.playwright-mcp/
/public/logo.svg
/public/favicon.svg
/public/favicon.png
/public/favicon-192.png
/public/favicon-512.png
.playwright-mcp/
